@layer components {
  .boton-primario {
    @apply flex items-center justify-center gap-2 px-8 py-4 rounded-2xl font-medium transition-all duration-300 active:scale-95 md:text-2xl;
    background-color: var(--color-acento-brillo);
    color: var(--color-texto-brillo);
    cursor: pointer;
  }

  .dark .boton-primario {    
    color: var(--color-fondo);    
  }

  .boton-primario:hover {
    @apply opacity-90;
    transform: translateY(-3px);
    box-shadow: 0 10px 40px -10px var(--color-acento);
  }

  .boton-fantasma {
    @apply flex items-center justify-center gap-2 px-8 py-4 rounded-2xl font-medium transition-all duration-300 active:scale-95 md:text-2xl;
    /* border-color: var(--color-acento); */
    background-color: var(--color-secundario);
    color: var(--color-texto);
    cursor: pointer;
  }

  .boton-fantasma:hover {
    @apply opacity-90;
    transform: translateY(-3px);
    box-shadow: 0 10px 40px -10px var(--color-acento);
  }

  .dark .boton-fantasma {
    background-color: var(--color-secundario-dark);
  }
}
