@layer components {
    .promocion {
        @apply py-20;
        background-color: var(--color-fondo);
  }

    /* .promocion-contenedor {
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    } */

    .promocion-subtitulo {
        @apply text-3xl max-w-5xl mx-auto text-center leading-loose tracking-wider;
        color: var(--color-texto-brillo);
    }

    .promocion-destacar {
        color: var(--color-acento);
    }
}