@layer {
    :root {
        --font-size: 16px;
        
        /* Definimos el "valor" del color sin la función rgb(), para poder aplicar transparencia en navbar */

        /* background-color: rgba(var(--color-primario-rgb), 0.5);  /* el 2º parámetro es para aplicar transparencia */
        /* en ese ejemplo usamos la variable RGB + la opacidad deseada */
        /* esto no sirve, porque lo muestra transparente */        
        --color-primario-rgb: 143, 107, 196;
        --color-secundario-rgb: 111, 75, 168;     /* #6F4BA8 */
        --color-borde-rgb: 255, 255, 255;
        --color-acento-rgb: 217, 178, 95;       /* #D9B25F */
              
        --color-primario: #8F6BC4;
        --color-primario-claro: #BBA4DB;  
        --color-secundario: #6F4BA8;

        --color-acento: #D9B25F;            /* rgb 217, 178, 95  */
        --color-acento-brillo: #FFC436;     /* rgb 255, 196, 54 */
        
        --color-fondo: #F8F5FC;
        --color-texto: #FFFFFF;
        --color-texto-oscuro: #2F2A35;
    }
}
